*.swp
*.swo
*.pyc
*.elf
*.o
*.gch
*.a
*.so
*.zargo~
*~
*.xmi~
*nohup.out
*.lvimrc
lib/*
exec/*
bin/*
tags
.project
.pydevproject
.settings
.dat
a.out
a.out.*
CMakeCache.txt
CMakeFiles
**/Linux/*
**.egg-info/*
*.rej
GDMLParser/v*/*.gz
GDMLParser/v*/GDML_*/**
